<div class="ts-grid">
    <div class="ts-grid-header">
        <table class="ts-grid-table">
            <tbody>
            <tr class="ts-grid-header-row">
                <th ng-style="{'width': column.width}" ng-repeat="column in gridCtrl.configuration.columns">{{::column.title}}</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ts-grid-body">
        <table class="ts-grid-table">
            <tbody>
            <tr class="ts-grid-row" ng-repeat="(index, row) in gridCtrl.data"></tr>
            </tbody>
        </table>
    </div>
    <div ts-grid-pager=""></div>
</div>