<div class="ts-grid-pager">
    Pages:
    <span class="ts-grid-pager-nav-button ts-grid-pager-nav-inactive-button"><a href="javascript:void(0);">First</a></span>
    <span class="ts-grid-pager-nav-button ts-grid-pager-nav-inactive-button"><a href="javascript:void(0);">Prev</a></span>
    <span class="ts-grid-pager-page ts-grid-pager-current-page">1</span>
    <span class="ts-grid-pager-page"><a href="javascript:void(0);">2</a></span>
    <span class="ts-grid-pager-page"><a href="javascript:void(0);">3</a></span>
    <span class="ts-grid-pager-page"><a href="javascript:void(0);">4</a></span>
    <span class="ts-grid-pager-page"><a href="javascript:void(0);">5</a></span>
    <span class="ts-grid-pager-nav-button"><a href="javascript:void(0);">...</a></span>
    <span class="ts-grid-pager-nav-button"><a href="javascript:void(0);">Next</a></span>
    <span class="ts-grid-pager-nav-button"><a href="javascript:void(0);">Last</a></span> &nbsp;&nbsp; 1 of 7
</div>