<div class="ts-grid-pager">
    <span class="ts-grid-pager-nav-button" ng-click="gridPagerCtrl.goToPage(0)">&lt&lt</span>
    <span class="ts-grid-pager-nav-button" ng-click="gridPagerCtrl.goToPage(gridCtrl.page - 1)">&lt</span>
    <span class="ts-grid-pager-page"
          ng-class="{'ts-grid-pager-page-current': gridCtrl.page == pageNumber}"
          ng-click="gridPagerCtrl.goToPage(pageNumber)"
          ng-repeat="pageNumber in gridPagerCtrl.getPageNumbers()">{{pageNumber + 1}}</span>
    <span class="ts-grid-pager-nav-button" ng-click="gridPagerCtrl.goToPage(gridCtrl.page + 1)">&gt</span>
    <span class="ts-grid-pager-nav-button" ng-click="gridPagerCtrl.goToPage(gridPagerCtrl.getPageNumbers().length - 1)">&gt&gt</span>
    <span>{{gridCtrl.page + 1}} of {{gridPagerCtrl.getPageNumbers().length}}</span>
</div>