.ts-grid {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #f5f5f5;
}

.ts-grid th {
    font-weight: normal;
}

.ts-grid-header {
    border-bottom: 1px solid #cecece;
}

.ts-grid th:not(:last-child) {
    border-right: 1px solid #cecece;
}

.ts-grid-header {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.ts-grid-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.ts-grid-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0
}

.ts-grid-table td {
    padding: .5em
}

.ts-grid-header-row > th {
    padding: .5em
}

.ts-grid-header::-webkit-scrollbar {
    visibility: hidden
}

.ts-grid-header::-webkit-scrollbar-track {
    background: #ffffff
}